<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
<title layout:fragment="title">Detail</title>
</head>
<body layout:fragment="content">
<h1>Fiche du Film TODO</h1>
<header>
  <nav>
    <ul>
      <li><a href="http://localhost:8080/Accueil">Accueil</a></li>
      <li><a href="http://localhost:8080/Liste">Liste des Films</a></li>

    </ul>
  </nav>
</header>

<main>
  <h1 th:text="${movie.title}"></h1>
  <p><strong>Année :</strong> <span th:text="${movie.year}"></span></p>
  <p><strong>Durée :</strong> <span th:text="${movie.duration}"></span> minutes</p>
  <p><strong>Synopsis :</strong> <span th:text="${movie.synopsis}"></span></p>
  <p>TODO: Afficher les détails du film ici</p>
</main>


</body>
</html>