<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title layout:fragment="title">Liste de films</title>

</head>
<body layout:fragment="content">
<header>
    <nav>
        <ul>
            <li><a href="http://localhost:8080/Accueil">Accueil</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Détail des Films</h1>

    <ul th:each="movie : ${movies}" class="movielist">
        <a th:href="@{/moviedetail/{id}(id=${movie.id})}">
            <li>
                <img src="moviereel.jpg" alt="Affiche de Film">
                <h1 th:text="${movie.title}">
                </h1>
                <div>
                    <i th:each="star: ${maxStars}" class="fas fa-star" th:classappend="${movie.getNote() >= star} ? 'eni-star-check' : ''"></i>
<!--                    <i class="fas fa-star eni-star-check"></i>-->
<!--                    <i class="fas fa-star eni-star-check"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
<!--                    <i class="fas fa-star"></i>-->
                </div>
                <p th:text="${movie.year}"></p>
                <p th:text="${movie.synopsis}"></p>
                <p>Acteurs principaux : Acteur 1, Acteur 2, Acteur 3</p>
            </li>
        </a>
    </ul>
</main>
</body>
</html>