<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="vendor/uikit/css/uikit.css" />
  <script src="vendor/uikit/js/uikit.min.js"></script>
  <script src="vendor/uikit/js/uikit-icons.min.js"></script>
  <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="eni-theme.css"/>
    <meta charset="UTF-8">
    <title>Liste</title>

</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="http://localhost:8080/Accueil">Accueil</a></li>
      <li><a href="http://localhost:8080/Liste">Liste des Films</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Détail des Films</h1>
  <ul class="movielist">
    <a href="http://localhost:8080/Détail">
    <li>
      <img src="moviereel.jpg" alt="Affiche de Film 1">
      <h1>
       Film
      </h1>
      <i class="fas fa-star eni-star-check"></i>
      <i class="fas fa-star eni-star-check"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <p>Année de sortie : 2024</p>
      <p>Résumé : Un résumé captivant du film 1.</p>
      <p>Acteurs principaux : Acteur 1, Acteur 2, Acteur 3</p>
    </li>
    </a>
    <a href="http://localhost:8080/Détail">
      <li>
        <img src="moviereel.jpg" alt="Affiche de Film 1">
        <h1>
          Film
        </h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <p>Année de sortie : 2024</p>
        <p>Résumé : Un résumé captivant du film 1.</p>
        <p>Acteurs principaux : Acteur 1, Acteur 2, Acteur 3</p>
      </li>
    </a>
    <a href="http://localhost:8080/Détail">
      <li>
        <img src="moviereel.jpg" alt="Affiche de Film 1">
        <h1>
          Film
        </h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <p>Année de sortie : 2024</p>
        <p>Résumé : Un résumé captivant du film 1.</p>
        <p>Acteurs principaux : Acteur 1, Acteur 2, Acteur 3</p>
      </li>
    </a>
    <a href="http://localhost:8080/Détail">
      <li>
        <img src="moviereel.jpg" alt="Affiche de Film 1">
        <h1>
          Film
        </h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <p>Année de sortie : 2024</p>
        <p>Résumé : Un résumé captivant du film 1.</p>
        <p>Acteurs principaux : Acteur 1, Acteur 2, Acteur 3</p>
      </li>
    </a>
    <a href="http://localhost:8080/Détail">
      <li>
        <img src="moviereel.jpg" alt="Affiche de Film 1">
        <h1>
          Film
        </h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <p>Année de sortie : 2024</p>
        <p>Résumé : Un résumé captivant du film 1.</p>
        <p>Acteurs principaux : Acteur 1, Acteur 2, Acteur 3</p>
      </li>
    </a>
  </ul>
</main>
<footer>
  <p>&copy; 2024 Mon Site rincé. Tous droits réservés.</p>
</footer>
</body>
</html>